@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@600&display=swap');

/* Adiciona um gradiente animado ao fundo */
@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    font-family: 'Handjet', sans-serif;
    text-align: center;
    background-image: url(images/background.png);
    background-size: 100%;
    margin: 0px;
    padding: 0px;
  
}

h2{
    font-family: 'Handjet', sans-serif;
}

#board {
    background-image: url("./doodlejumpbg.png");
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-top: 4%;
}

#character-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(270deg, #3a6913, #f383e0);
    background-size: 600% 600%;
    animation: gradientBackground 10s ease infinite;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: background 0.5s ease;
}

#character-selection.rosa {
    background: linear-gradient(270deg, #ff69b4, #ff1493, #ff69b4);
    background-size: 600% 600%;
    animation: gradientBackground 10s ease infinite;
}

#character-selection.verde {
    background: linear-gradient(270deg, #32cd32, #228b22, #32cd32);
    background-size: 600% 600%;
    animation: gradientBackground 10s ease infinite;
}

#character-selection h3 {
    margin-bottom: 20px;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#character-selection .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#character-selection button {
    background: rgba(255, 255, 255, 0.1);
    margin: 0px 20px;
    border: solid 2px white;
    border-radius: 20px;
    padding: 40px;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1.2em;
}

#character-selection button:hover {
    transform: scale(1.1);
    background: rgba(255, 255, 255, 0.2);
}

#character-selection img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 50%;
    transition: transform 0.3s;
}

#character-selection button:hover img {
    transform: rotate(10deg);
}